$box-shadow: inset -1px -1px #fff,
inset 1px 1px grey,
inset -2px -2px #dfdfdf,
inset 2px 2px #0a0a0a;

@mixin text-box-styles {
    background-color: #fff;
    box-shadow: $box-shadow;
    border: 1px inset #666;
    font-family: 'Times New Roman',
        Times,
        serif;
    font-size: 1rem;
    line-height: 1;
    padding: .75rem;
    height: auto;
    width: auto;

    &:focus {
        border: 1px solid #666 !important;
        box-shadow: $box-shadow !important;
    }
}