
.cat-chat-textrea {
    height: 300px;
    border: 1px solid #666;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.2;
    padding: .75rem;
}

.emphasized {
    font-weight: bold;
}
