$link-color: blue;

.app-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
}

a {
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;
}

.button-link {
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-align: left;
    color: $link-color;

    &:active {
        box-shadow: none;
    }

    &:focus {
        background-color: transparent;
        outline: none;
    }
}